*/Debug/
*/*/Debug/
*/*/*/Debug/
*/*/*/*/Debug/
*/*/*/*/*/Debug/
*/*/*/*/*/*/Debug/
*/Release/
*/*/Release/
*/*/*/Release/
*/*/*/*/Release/
*/*/*/*/*/Release/
*/*/*/*/*/*/Release/
*/*/*/*/obj/
*.user
*.obj
*.sdf
*.suo